*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: inter;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 20px 0;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.menu a {
    font-size: 16px;
    color: #474747;
    text-decoration: none;
    font-weight: 500;
}

.btn {
    padding: 12px 16px;
    background-color:#469165;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
}

#banner-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 120px 134px 120px;
    background-image: url("/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    gap: 32px;
}

#banner-section h1{
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    line-height: 84px;
    font-style: bold;
}
.green-text{
    color:#30B868;
}

#banner-section p{
    font-size: 18px;
    color: #ffffff;
    line-height: 2;
    font-weight: 400;
    text-align: center;  
}

.banner-btn-top{
    padding: 8px 12px;
    border-radius: 1000px;
    color: #469165;
    text-decoration: none;
    background-color: white;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
}

.btn-see-how {
    padding: 12px 16px;
    background-color:transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 16px;
}