*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: inter;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 20px 0;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.menu a {
    font-size: 16px;
    color: #474747;
    text-decoration: none;
    font-weight: 500;
}

.btn {
    padding: 12px 16px;
    background-color:#469165;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
}

#banner-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 120px 134px 120px;
    background-image: url("/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    gap: 32px;
}

#banner-section h1{
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    line-height: 84px;
    font-style: bold;
    text-transform: capitalize;
}
.green-text{
    color:#30B868;
}

#banner-section p{
    font-size: 18px;
    color: #ffffff;
    line-height: 2;
    font-weight: 400;
    text-align: center;  
}

.banner-btn-top{
    padding: 8px 12px;
    border-radius: 1000px;
    color: #469165;
    text-decoration: none;
    background-color: white;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
}

.btn-see-how {
    padding: 12px 16px;
    background-color:transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 16px;
}

#notes-section{
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    
}

.cards-section{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 64px;
}

#notes-section p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

#notes-section h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    line-height: 2;
    padding-top: 50px;
    text-transform: capitalize;
}

.card img{
    background-color: #F95555;
    padding: 16px;
    border-radius: 1000px;
}

.card {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #0000000F;

    
}

.card h2{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 24px 0;
    text-transform: capitalize;
}

#second-brain-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px 0;
}

#second-brain-section h4{
    font-size: 16px;
    font-weight: 500;
    color:#469165;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

#second-brain-section h1{
    font-size: 48px;
    font-weight: 700;
    color:#001931;
    line-height: 1.2;
    text-transform: capitalize;
}

#second-brain-section p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    padding: 24px 0;
}

#second-brain-section ul li{
    font-size: 16px;
    font-weight: 400;
    color: #303030;
    line-height: 20px;
    list-style: none;
    padding: 8px 0;
}

#second-brain-section ul li img{
    margin-bottom:-4px;
}

#early-access-section{
    text-align: center;
    margin-top: 120px;
    padding-bottom: 120px;
}

#early-access-section h1{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    line-height: 1.2;
    text-transform: capitalize;
}

#early-access-section p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 24px;
    padding: 20px 0;
}

#early-access-section div{
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #F7F6F2;
    padding: 80px 40px;
}
