*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: inter;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 0;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.menu a {
    font-size: 16px;
    color: #474747;
    text-decoration: none;
    font-weight: 500;
}

.btn {
    padding: 12px 16px;
    background-color:#469165;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
}